/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*
{
    margin: 0;
    padding: 0;
}

html *
{
   font-family: Arial;
}

body
{
	background-color: white;
}

.frame-line
{
	height: 3px;
	background-color: #CC0000;
}

h1
{
	color: #CC0000;
	padding-top: 20px;
	padding-bottom: 20px;
}

h2
{
	color: #CC0000;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Verdana, Geneva, Arial;
}

#main, h1
{
	padding-left: 10%;
	padding-right: 10%;
}

header ul
{
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    padding-left: 10%;
}

header li {
    float: left;
}

header li a {
    display: block;
    font-size: 95%;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

header li a:hover {
    background-color: #111111;
}

footer
{
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

footer p
{
	display: block;
	font-size: 90%;
    color: white;
    padding: 10px;
    padding-left: 10%;
    text-decoration: none;
}

article
{
	margin-top: 30px;
	margin-bottom: 30px;
}

article p.author
{
	color: #CC0000;
}

article p.description
{
	color: #333333;
	font-size: 90%;
}

article a
{
	color: #006ADA;
	font-size: 100%;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}

article a:hover, article a:visited:hover
{
	color: #1A41DC;
}

article a:visited
{
	color: #006ADA;
}

#announce p
{
	font-size: 95%;
	color: #333333;
}

#about p
{
	font-size: 90%;
	color: #333333;
	display: block;
	padding-top: 5px;
}

#about ul
{
	list-style-type: none;
	margin: 30px;
}

#about li
{
	font-size: 80%;
	font-family: Helvetica Arial;
	color: #333333;
	display: block;
	padding-top: 3px;
}
