/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import '~bootstrap/dist/css/bootstrap';

$background_color: white;
$main_color: #CC0000;
$text_color: #333333;
$menu_hover_color: #111111;
$link_color: #006ADA;
$link_hover_color: #1A41DC;
$link_visited_color: #006ADA;
$main_font: Arial;
$details_font: Verdana;

@mixin main_padding($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin frame_line_params($height, $bgcolor) {
  height: 4px;
  background-color: $main_color;
}

* {
    margin: 0;
    padding: 0;
    font-family: $main_font;
}

body {
  
	background-color: $background_color;
	
	header {
	  
	  h1 {
      color: $main_color;
      padding-top: 20px;
      padding-bottom: 20px;
      @include main_padding(10%);
      display: inline-block;
    }      
  
    ul {
      
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: $text_color;
      padding-left: 10%;
      padding-right: 10%;
      
      li#marked {
        background-color: $main_color;
      }
      
      li {
        
        float: left;
        
        a {
          display: block;
          font-size: 95%;
          color: white;
          text-align: center;
          padding: 7px;
          text-decoration: none;
        }

        a:hover {
          background-color: $menu_hover_color;
        }
        
        span {
          color: white;
          font-size: 80%;
          font-family: $details_font, $main_font;
          font-style: italic;
          display: inline-block;
          padding: 7px;
        }
        
      }
      
      li#auth {
        float: right;
      }
    }
    
    .frame-line {
      @include frame_line_params(3px, $main_color)
    }
  }
  
  
  #main {
    
    @include main_padding(10%);
    
    p#notice {
      color: $main_color;
      font-size: 90%;
      padding-top: 5px;
      padding-bottom:5px;
    }
    
    h2 {
      color: $text_color;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    
    h3 {
      color: $text_color;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    
    p {
      color: $text_color;
      font-size: 90%;
    }
  
    article {
      
      margin-top: 30px;
      margin-bottom: 10px;
      
      p.author {
        color: $main_color;
        font-size: 90%;
        font-family: $details_font, $main_font;
      }

      p.description {
        color: $text_color;
        font-size: 90%;
      }
      
      p.fulltext {
        color: $text_color;
        font-size: 90%;
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;
        line-height: 135%;
      }
      
      p.date {
        color: $text_color;
        font-family: $details_font, $main_font;
        font-size: 80%;
      }

      a {
        color: $link_color;
        font-size: 100%;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      a:hover, a:visited:hover {
        color: $link_hover_color;
      }

      a:visited {
        color: $link_visited_color;
      }
    }
    
    controls {
      a {
        color: $link_color;
        font-size: 90%;
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
      }

      a:hover, a:visited:hover {
        color: $link_hover_color;
      }

      a:visited {
        color: $link_visited_color;
      }
      
      p.status {
        color: $text_color;
        font-size: 90%;
        display: inline-block;
        padding-left: 5px;
      }
    }
    
    controls common {
      
      text-align: center;
      color: $text_color;
      font-size: 100%;
      
      a {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    
    comments {
      
      font-size: 90%;
      
      p strong {
        color: $text_color;
        font-size: 100%;
        font-weight: bold;
        display: block;
        padding: 10px;
      }
      
      author {
        color: $main_color;
        display: inline-block;
        padding: 10px;
        font-family: $details_font, $main_font;
      }
      
      date {
        color: $text_color;
        font-size: 75%;
        display: inline-block;
        font-family: $details_font, $main_font;
      }
      
      comment {
        color: $text_color;
        display: block;
        font-style: italic;
        padding-bottom: 10px;
      }
    }
    
    form {
      
      #error_explanation, .validation-error {
        
        color: $main_color;
        font-size: 90%;
        
        h2, h3 {
          margin-bottom: 5px;
        }
        
        ul {
          
          margin-bottom: 30px;
          display: block;
          
          li {
            color: $main_color;
            font-size: 90%;
            margin-left: 30px;
          }
        }
      }
      
      .field {
        
        width: 850px;
        height: 35px;
        font-size: 85%;
        
        i {
          font-size: 95%;
          display: inline-block;
          margin-left: 120px;
        }
        
        em {
          font-size: 95%;
          displawy: inline-block;
          margin-left: 10px;
        }
        
        label {
          color: $text_color;
          display: inline-block;
          padding: 0px 10px 10px 10px;
          font-size: 100%;
          width: 100px;
        }
        
        input[type="text2"] {
          font-size: 95%;
          color: $text_color;
          display: inline-block;
          float: right;
          width: 710px;
        }
        
        input[type="checkbox"] {
          color: $text_color;
          display: inline-block;
          float:right;
          margin-right: 712px;
        }
        
        input[type="number"] {
          color: $text_color;
          display: inline-block;
          float:right;
          width: 50px;
          margin-right: 670px;
        }
        
        input[type="text"], input[type="email"], input[type="password"] {
          color: $text_color;
          display: inline-block;
          float:right;
          width: 180px;
          margin-right: 540px;
        }
      }
      
      .field_body {
          
        height: 450px;
        width: 850px;
        
        label {
          color: $text_color;
          display: inline-block;
          padding: 0px 10px 10px 10px;
          font-size: 90%;
          width: 100px;
        }
          
        textarea {
          color: $text_color;
          float: right;
          width: 725px;
          height: 440px;
          font-size: 95%;
        }
      }
      
      .field_with_errors {
        display: inline-block;
        
        input, textarea {
          background-color: pink;
        }
      }
      
      .actions {
        color: $text_color;
        display: inline-block;
        padding: 10px;
        font-size: 90%;
        width: 100px;
        
        input {
          width: 100px;
          height: 25px;
        }
        
        .wide {
          input {
            width: 240px;
          }
        }
      }  
    }
    
    .list {
      
      margin-top: 30px;
      margin-bottom: 30px;
      color: $text_color;
      font-size: 90%;
      
      p {
        
        margin-top: 20px;
        margin-bottom: 20px;
        
        strong {
          margin-right: 5px;
        }
      }
    }

    #announce {
      
      p {
        font-size: 95%;
        color: $text_color;
      }
      
    }

    #about {
      
      p {
        font-size: 90%;
        color: $text_color;
        display: block;
        padding-top: 5px;
      }
    
      ul {
        
        list-style-type: none;
        margin: 30px;
      
        li {
          font-size: 80%;
          font-family: $details_font, $main_font;
          color: $text_color;
          display: block;
          padding-top: 3px;
        }
      }
    }
    
    .actions_ext {
        color: $text_color;
        display: inline-block;
        padding: 10px;
        font-size: 90%;
        
        input {
          width: 130px;
          height: 25px;
        }
    }
  }
  
  footer {
    
    .frame-line {
      @include frame_line_params(3px, $main_color)
    }
    
    background-color: $text_color;
    margin-top: 15px;
  
    p {
      display: block;
      font-size: 80%;
      color: white;
      padding: 7px;
      padding-left: 10%;
      text-decoration: none;
    }
  }
}





